.closeButton {
    position: fixed;
    top: 10px;
    right: 10px;
    }
button{
        width:70px;
        height:20px;
        line-height:15px;
        padding:1px;
        background:#4d4d4d;
        color:#FFFF00;
        border-radius: 0 5px 0 5px;
        font-family:"微軟正黑體";
        font-weight:bold;
}
.container {
        display: flex;
    }

.column {
        flex: 1;
        padding: 10px;
        border: 1px solid #999;
        text-align: center;
    }
.fsize{ font-size: 12px;  }
.itemblue {
    margin: 0px;
    padding: 2px;
    background-color: #f0f0f0;
    border: 2px solid #666666;
    text-align: left;
}
.itemred {
    margin: 0px;
    padding: 2px;
    background-color: #f0f0f0;
    border: 2px solid #FF0000;
    text-align: left;
}
.itemorange {
    margin: 0px;
    padding: 2px;
    background-color: #f0f0f0;
    border: 2px solid #FFAA33;
    text-align: left;
}
.itembrown {
    margin: 0px;
    padding: 2px;
    background-color: #f0f0f0;
    border: 2px solid #8B4513;
    text-align: left;
}
.itemgreen {
    margin: 0px;
    padding: 2px;
    background-color: #f0f0f0;
    border: 2px solid #32CD32;
    text-align: left;
}
.itemyellow {
    margin: 0px;
    padding: 2px;
    background-color: #f0f0f0;
    border: 2px solid #FFFF00;
    text-align: left;
}
.itempink {
    margin: 0px;
    padding: 2px;
    background-color: #f0f0f0;
    border: 2px solid #FF0088;
    text-align: left;
}
/*浮動視窗字型CSS*/
.wfsize{ 
    font-size: 12px;  
    margin: -5px;
    padding: 0px;
    text-align: left;
}
/*浮動視窗CSS*/
.floating-window {
display: none;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 600px;
height: 500px;
background-color: #DDDDDD;
border: 2px solid black;
padding: 10px;

}